{% extends 'partials/base.html'%}
{% block title %}Password reset done{% endblock%}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3">
                <h3>Password reset done</h3>
                <hr>
                <div class="alert alert-success">
                    
                    <h4>Password Reset successfull. Now you can login with your new password <br>
                        
                </div>
                <a href="{% url 'user-login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock%}